services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace/claude-devcontainer:cached
      - ~/.ssh:/home/vscode/.ssh:ro
      - ./.claude:/root/.claude
    ports:
      - "8082:8082"
    env_file:
      - .env
    environment:
      - ANTHROPIC_BASE_URL=http://localhost:8082
      - ANTHROPIC_API_KEY=${OPENAI_API_KEY}
    command: sleep infinity
